      <li class="my-2">
        <div class="card w-2/3 ml-10 shadow-xl border-2 border-secondary">
          <div class="card-body">
            <p class="mb-2 text-2xl">{{ this.comment_content }}</p>
            <div class="card-actions justify-between">
              <span class="self-end">By: {{ this.blog_user.username }}</span>
              <span class="self-end">Date: {{format_date this.createdAt }}</span>
            </div>
          </div>
        </div>
      </li>