<!DOCTYPE html>
<html lang="en" class="h-full bg-primary">
<head>
  <meta charset="UTF-8">
  <link href="/css/output.css" rel="stylesheet">
  <title>The Console Log Blog</title>
</head>

<body class="text-accent h-full">
  <div class="w-[100%] min-h-screen flex flex-col">
    <header class="w-full border-4 border-secondary shadow-[-3px_-3px_inset] shadow-accent">
      <h1 class="font-blox text-7xl text-center p-3 text-shadow-md shadow-secondary">Console.Blog</h1>
      <nav class="flex justify-left gap-14 text-3xl p-3 pl-6">
        <a class="bg-secondary rounded text-primary px-2 hover:px-4 shadow-[-5px_-5px_1px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/">Home</a>
        {{#if logged_in}}
        <a class="bg-secondary rounded text-primary px-2 hover:px-4 shadow-[-5px_-5px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/dashboard/{{session.user_id}}">Dashboard</a>
        <a class="bg-secondary rounded text-primary px-2 hover:px-4 shadow-[-5px_-5px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/login">Log Out</a>
        {{else}}
        <a class="bg-secondary rounded text-primary px-2 hover:px-4 shadow-[-5px_-5px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/login">Log In/Sign up</a>
        {{/if}}
      </nav>
    </header>

    {{{body}}}

  <footer class="text-center">&copy; 2024</footer>
  </div>
</body>
</html>