<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Console Log Blog</title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-primary text-accent h-svh">
  <div class="mx-auto w-[100%]">
    <header class="flex-column w-full border-4 border-secondary shadow-[-3px_-3px_inset] shadow-accent">
      <h1 class="text-6xl text-center p-3 text-shadow-md shadow-secondary">The Console Log Blog</h1>
      <nav class="flex justify-left gap-14 text-3xl p-3 pl-5">
        <a class="bg-secondary rounded text-slate-700 px-2 shadow-[-5px_-5px_1px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/">Home</a>
        <a class="bg-secondary rounded text-slate-700 px-2 shadow-[-5px_-5px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/dashboard">Dashboard</a>
        <a class="bg-secondary rounded text-slate-700 px-2 shadow-[-5px_-5px] shadow-accent hover:shadow-secondary hover:bg-accent" href="/login">Login</a>
      </nav>
    </header>

    {{{body}}}

  </div>
  <footer class="text-center">&copy; 2024</footer>
</body>
</html>