<div class="container mx-auto my-4 flex-grow">
  <div class="flex justify-around w-3/4">
    <h2 class="font-blox text-5xl mt-5 mb-8">My Posts</h2>
    <button class="btn bg-secondary hover:bg-accent text-2xl self-center" onclick="newPostModal.showModal()">Create New
      Post</button>
  </div>
  <div>
    <ul>
      {{#each posts}}
        {{> post-card}}
      {{/each}}
    </ul>
  </div>
</div>

<!-- Modal to add new post -->
<dialog id="newPostModal" class="modal text-primary">
  <div class="modal-box bg-accent">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-xl mb-5">Enter New Post Info</h3>
    <form id="newPostForm">
      <div class="mb-3">
        <label for="post_title" class="form-label text-lg">Title</label>
        <input type="text" class="form-control w-full p-2" name="post_title" required>
      </div>
      <div class="mb-3">
        <label for="post_content" class="form-label text-lg">Post</label>
        <textarea class="form-control w-full min-h-32 p-2" name="post_content" required></textarea>
      </div>
      <button id="newPostButton" type="submit" class="btn bg-primary text-secondary hover:bg-secondary hover:text-primary text-2xl self-center">
        Create New Post
      </button>
    </form>
  </div>
</dialog>

<script src="/js/add-post.js"></script>